maya/Fbx/Logs
.config/lazygit/state.yml
maya/FBX/Logs
maya/mayaLog
.uuid
.config/fish/fish_variables
.config/godot/recent_dirs
.config/godot/text_editor_themes/
callback_plugins/__pycache__
files/dotfiles/fish/fish_variables
files/dotfiles/lazygit/state.yml
files/dotfiles/maya/mayaLog
files/dotfiles/maya/FBX/Logs/2020.2.3/maya2022imp.log
files/dotfiles/maya/2022/prefs/scriptEditorTemp
files/dotfiles/maya/FBX/Logs/2020.2.3
files/dwm/dwm/drw.o
files/dwm/dwm/dwm
files/dwm/dwm/dwm.o
files/dwm/dwm/util.o
files/dotfiles/nvim/lazy-lock.json
