* {
  all: unset;
}

// Variable Color's
$background: #0a0a0a;
$foreground: #998E89;

$black: #24283B;
$gray: #565F89;
$red: #D27E99;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;
$text-font: "Berkeley Mono";
$icon-font: "JetBrainsMono Nerd Font Mono";

window {
  background: $background;
  color: $foreground;

  font-family: $text-font;
  font-size: 18px;
}

.warp-status {
  font-size: 1.5em;
}

.topsection {
  margin-top: 10;
}

.botsection {
  margin-bottom: 10;
}

.datetime {
  font-size: 0.87em;
  font-weight: bold;
  padding: 5px 0px;
}

.dotw {
  font-size: 0.7em;
  margin-bottom: 10;
}

.dwm-layouts {
  font-family: $icon-font;
  font-size: 1.0em;
}

.title-text {
  font-size: 17px;
  color: #464646;
}

.tag-container {
  font-weight: bold;
  button {
    padding: 3px;
  }

  padding: 0px 5px;

  button:hover {
    color: #998E89;
    background-color: #1a1a1a;
    border-radius: 5px;
  }
}

.tag-selected {
  color: #D27E99;
}

.tag-urgent {
  color: #E80047;
}

.tag-occupied {
  color: #464646;
}

.volume-text {
  font-size: 0.9em
}

.volume-icon {
  font-family: $icon-font;
  font-size: 1.3em;
}

// Powermenu
.powermenu {
  font-family: $icon-font;
  font-size: 1.3em;
}

.button-off{
  color: $red;
  padding: 0px 0px;
  margin: 0px 5px;
  &:hover {
    color: $background;
    background-color: $red;
    border-radius: 10px;
  }
}

.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}


// System Tray
.systray-button {
  font-family: $icon-font;
  font-size: 1.2em;
}

menu {
  padding: 10px 10px;
  background-color: #101010;
  border: 2px solid #0a0a0a;
  border-radius: 12px;

  >menuitem {
    font-size: 16px;
    padding: 2px 5px;

    &:disabled label {
      color: #998E89;
    }

    &:hover {
      border-radius: 2;
      background-color: #202020;
    }
  }

  separator {
    padding-top: 1px;

    &:last-child {
      padding: unset;
    }
  }
}
