* {
    bg0:    #1D2021;
    bg1:    #141617;
    bg2:    #83a598;
    bg3:    #2A2F30;
    border: #1c1c1c;
    fg0:    #928374;
    fg1:    #ECEFF4;
    fg2:    #D8DEE9;
    fg3:    #282828;
    fg4:    #689d6a;
    /* border-radius: 6px; */
    border-radius: 0px;
}

@import "common.rasi"
