* {
    background:    #1F1F1F;
    bg1:    #161616;
    bg2:    #161616;
    bg3:    #161616;
    border: #161616;
    fg0:    #9A8F8A;
    fg2:    #809BB3;
    fg3:    #4F4F59;
    fg4:    #AF9DA2;
    inputborder: #000000;
    selection: #1A1A1C;

    border-radius: 0px;
}

@import "common.rasi"
