* {
    background:    #242424;
    bg1:    #141110;
    bg2:    #141110;
    bg3:    #AF9DA2;
    border: #12120F;
    fg0:    #9A8F8A;
    fg2:    #809BB3;
    fg3:    #302B27;
    fg4:    #AF9DA2;
    inputborder: #000000;
    selection: #3D3D3D;

    border-radius: 0px;
}

@import "common.rasi"
